.block {
  background-color: white;
  font-size: 16px;
  line-height: 22px;
  color: black;
  width: 400px;
  padding: 50px;
}

h3 {
  font-size: 30px;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 40px;
}

.footer {
  background-color: grey;
  width: 100%;
  padding: 20px;
}

.icons {
  width: 100px;
}

.banner {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: grayscale(50%)
}

.social {
  font-size: 20px;
  padding: 30px;
}

.aroundpad {
  padding-bottom: 20px;
}

.lefte {
  text-align: left;
  line-height: 24px;
}

.pas {
  padding-right: 10px;
  padding-left: 3px;
}

.ali {
  display:inline-block
}
