.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.aligned {
  display: inline-block;
  padding-right: 40px;
}

.flexedend {
  display: flex;
  justify-content: space-between;
}

.padtop {
  padding-top: 25px;
}

.links {
  color: white;
  text-decoration: none;
}

.links:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

section {
/*  opacity: 0;
*/  transition: opacity 1s;
  transform: translate(0, 20px);
  transition: all 1s;
}

section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.logo {
  height: 30px;
  fill: white;
  padding: 20px;
}

.logosized {
  height: 60px;
}
